.gradle/
.kotlin/
**/build/
local.properties
**/oh_modules/
**/.hvigor/
**/oh-package-lock.json5
.DS_Store
**/__pycache__/
*.pyc
**/BuildProfile.ets
/scripts/ci-changes.py
/scripts/ci-run.py
/scripts/ci-native-cache.py
